@import  url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  background-color: rgb(255,228,196);
  font-family: 'Source Sans Pro', sans-serif;
  font-style: Italic;
  color: rgb(128,0,0);
}
#page-container {
  positio: relative;
}
#header {
  position: relative;
  top: 0;
  min-height: 30px;
  padding: 1px 23px;
  display: flex;
  align-items: center;
  z-index: 2;
}
h1 {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#nav-bar {
  padding: 3px;
  margin-left: 250px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-link {
  margin: 23px;
  padding: 11px;
  color: rgb(51,51,51);
}
button {
  margin: 10px;
  padding: 3px;
  background-color: rgb(205,92,92);
  border: 3px solid rgb(128,0,0);
  border-radius: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 127px;
  margin-bottom: 23px;
}
h2 {
  margin-bottom: 7px;
}
p {
  font-size: 19px;
}
#email {
  display: flex;
  text-align: center;
  font-size: 19px;
  margin: 14px;
  width: 450px;
  height: 27px;
  border: 2px;
  border-radius: 5px;
  position: relative;
  left: 21%;
  
  
}
#submit {
  margin: 10px;
  border: 2px solid rgb(128,0,0);
  background-color: rgb(205,92,92);
   position: relative;
  Top: 30%;
  left: 45%;
}
.contents {
  margin: 0, auto;
}
#features {
  paddings: 10px;
}
.list {
   display: flex;
  margin: auto;
  width: 90%;
  }
.icon {
  display: flex;
  align-items: left;
  justify-contents: left;
  margin: 41px 17px 0px 0px;
  padding: 25px;
  width: 50px;
  height: 150px;
  @media (max-width: 58px) {
    display: none;
  }
  
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  margin: 10px;
  padding: 20px;
  height: 130px;
}
iframe {
  max-width: 560px;
  width: 900px;
}
#pricing {
  display: flex;
  flex-directions: row;
  justify-content: center;
  margin-top: 
  text-align: center;
  padding: 70px;
}


